.pop_u_main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.p_hd_hld {
  background-color: #242526;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  padding: 1em;
  justify-content: space-between;
}
.pop_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.pop_header > button {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #454647;
  color: white;
  cursor: pointer;
  font-size: 18px;
}
